 
html {
    scroll-behavior: smooth;
}
body {
	font-family: "Montserrat", sans-serif;
    font-family: system-ui, sans-serif;

}
section {
    padding: 100px 0;
}
.navbar {
    background-color: rgb(63 32 61 / 50%);
    backdrop-filter: blur(10px);
}


.blur-box {
    background-color: rgb(63 32 61 / 50%);
    backdrop-filter: blur(10px);
}


.navbar .nav-link {
    color: #ddd;
}
.navbar .nav-link.active, .navbar .nav-link:hover {
    color: #fff;
}
.nav-link.active {
    color: #cd60b5 !important;
}
body {
    background-image: linear-gradient(-45deg, white, black);
    height: 100vh;
}


body::before {
    animation: anim 30s infinite;
    background-image: linear-gradient(135deg, slateblue, HotPink);
    border-radius: 30% 70% 53% 47% / 26% 46% 54% 74%;
    box-shadow: 0 -2vmin 3vmin LightPink inset, 0 1vmin 4vmin MediumPurple inset, 0 -2vmin 7vmin purple inset;
    content: "";
    
    filter: drop-shadow(0 0 3vmin Thistle) drop-shadow(0 5vmin 4vmin Orchid) drop-shadow(2vmin -2vmin 15vmin #7b68ee) drop-shadow(0 0 7vmin MediumOrchid);
    height: 50vmin;
    position: absolute;
    top: 0;
    width: 50vmin;
	z-index: -1;
}
        /*! CSS Used keyframes */
        @keyframes anim {
0%, 100% {
border-radius: 30% 70% 70% 30% / 30% 52% 48% 70%;
box-shadow: 0 -2vmin 3vmin LightPink inset, 0 1vmin 4vmin MediumPurple inset, 0 -2vmin 7vmin purple inset;
}
10% {
border-radius: 50% 50% 20% 80% / 25% 80% 20% 75%;
}
20% {
border-radius: 67% 33% 47% 53% / 37% 20% 80% 63%;
}
30% {
border-radius: 39% 61% 47% 53% / 37% 40% 60% 63%;
box-shadow: -1vmin -2vmin 3vmin LightPink inset, -1vmin -2vmin 4vmin MediumPurple inset, 1vmin -1vmin 7vmin purple inset;
}
40% {
border-radius: 39% 61% 82% 18% / 74% 40% 60% 26%;
}
50% {
border-radius: 100%;
box-shadow: 0 2vmin 3vmin LightPink inset, 0 1vmin 4vmin MediumPurple inset, 0 2vmin 7vmin purple inset;
}
60% {
border-radius: 50% 50% 53% 47% / 72% 69% 31% 28%;
}
70% {
border-radius: 50% 50% 53% 47% / 26% 22% 78% 74%;
box-shadow: 1vmin 1vmin 4vmin LightPink inset, 2vmin -1vmin 4vmin MediumPurple inset, -1vmin -1vmin 5vmin purple inset;
}
80% {
border-radius: 50% 50% 53% 47% / 26% 69% 31% 74%;
}
90% {
border-radius: 20% 80% 20% 80% / 20% 80% 20% 80%;
}
}
	.transSection{
		    background-color: rgb(63 32 61 / 50%);
    backdrop-filter: blur(10px);
	}
	
	.about_holder{
		    background: #fff;
    padding: 40px;
    border-radius: 20px;
    background-color: rgb(255 255 255 / 8%);
    backdrop-filter: blur(10px);
    color: #fff;
	}




/* Keep hamburger icon white on hover/focus */
.navbar-dark .navbar-toggler-icon{color: aliceblue;}


 

  .navbar-dark .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.5);
  }
  .navbar-dark .navbar-toggler:hover,
  .navbar-dark .navbar-toggler:focus {
    border-color: #fff;
    box-shadow: none; /* optional: remove blue outline */
  }


a.nav-link.active {
    color: #ffffff;
}
a.nav-link {
    color: red;
}

a.nav-link.active {
    color: #0ddb3c !important;
    padding: 20px;
}

html { scroll-behavior: smooth; }
      body { font-family: system-ui, sans-serif; }
  
      .navbar .nav-link { color: #ddd; }
      .navbar .nav-link.active, .navbar .nav-link:hover { color: #fff; }



.blur-box {
    background-color: rgb(32 38 63 / 12%);
    backdrop-filter: blur(82px);
    padding: 60px 48px;
    padding-bottom: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 90px;
    border-bottom-left-radius: 80px;
    border-top-left-radius: 200px;
    box-shadow: inset 5pc 0px 51px -70px #ffffff0f;
    border-bottom: none;
    background: none;
    background-image: linear-gradient(143deg, #ffffff00, #ffffff00, #ffffff00, #ffffff00, #141414, #141414);
}


h2.about_holder {
    font-size: 57px;
    /* font-style: italic; */
    backdrop-filter: none;
    background-color: transparent;
    padding: 30px 18px 0px 20px;
    line-height: 50px;
}



p.blurb {
    padding: 20px;
    font-size: 1.2em;
    line-height: 51px;
    font-weight: 600;
    color: #ffffffab;
}

img.d-block.w-100 {
    transition: 25s ease-in-out;
}



.carousel-inner.rounded {
    border-radius: 110px, 110px, 110px, 110px!important;
}


  .navbar {
	      background-color: rgb(63 32 61 / 50%);
    backdrop-filter: blur(10px);
   
}


li.nav-item {
   	padding: 0 60px;
	font-size: 16px;
	text-transform: lowercase;
	font-weight: 700
}


li.nav-item a.nav-link{
	
	 padding-left: 30px;
    padding-right: 30px;
    /* background: black; */
  
    backdrop-filter: blur(15px);
    border-radius: 50px;
    margin-left: 8px;

}


li.nav-item a.nav-link.active{
	background: #ffffff14;
}

#preloader{
	background: #fff url("../images/preloader2.gif") no-repeat center center;
	background-size: 20%;
	height: 100vh;
	width:100% ;
	position: fixed;
	z-index:100;
}


